body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #453d61;
    font-family: 'Aldrich', sans-serif;
    color: wheat;
    font-size: 40px;
    min-height: 100vh;
}

h1 {
    margin: 40px;
}

.grid {
    width: 800px;
    height: 800px;
    display: flex;
}

.grid-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.square {
    border: 1px solid #D3D3D3;
    background-color: white;
    height: 100%;
}

button {
    border: 5px solid white;
    color: white;
    background-color: #4c4f57;
    padding: 10px;
    font-size: 40px;
    font-weight: 900;
    border-radius: 0px;
    margin: 40px;
    font-family: 'Aldrich', sans-serif;
    width: 200px;
}

button:hover {
    border-color: black;
    color: black;
}

.footer {
    margin-top: auto;
    padding: 10px;
    font-size: 15px;
}